[Desktop Entry]
Type=Application
Categories=Ubuntu;
X-Nemo-Application-Type=no-invoker
Icon=icon-launcher-shell
Exec=bash -c "cd UBU_CHROOT_PATH; ./desktop/ubu-exec.sh xfce4"
Name=Ubu Xfce4
# X-Nemo-Single-Instance is ignored by lipstick launcher, patch is needed
X-Nemo-Single-Instance=no
Terminal=false

