[Desktop Entry]
Type=Application
Categories=Ubuntu;
Icon=ubu-shell
Exec=fingerterm -e 'echo -e "\n=== ubu chroot ===\n";cd UBU_CHROOT_PATH;./desktop/ubu-exec.sh ubu-shell'
Name=Ubu shell
# X-Nemo-Single-Instance is ignored by lipstick launcher, patch is needed
X-Nemo-Single-Instance=no
Terminal=false

